$dark-purple: #733381;
$light-purple: #994fb2;
$dark-orange: #f58024;
$light-orange: #fbb149;
$dark-green: #589c48;
$light-green: #7bb662;
$lighter-green: #a1dd88;
$darkest-green: #24471c;

$primary: $light-green;
$primary-light: $lighter-green ;
$info: $dark-green;
$warning: $dark-purple;
$link: #fff;
$title-color: #fff;

@import '../../node_modules/bulma/bulma.sass';

body, html{
    height: 100%;
    overflow: hidden;
}

.fullheight {
    height: 100%;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.top-row{ 
    background-color: $light-purple;
    height: 20%;
    padding: 20px;
}

.bottom-row{ 
    background-color: $light-orange;
    flex-grow: 1;
    padding: 20px;
}

.middle-row{
    background-color: $primary;
    height: auto;
    min-height: 50%;
    padding: 20px;
}