$dark-purple: #733381;
$light-purple: #994fb2;
$dark-orange: #f58024;
$light-orange: #fbb149;
$dark-green: #589c48;
$light-green: #7bb662;
$primary: $light-green;

@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';

body, html{
    height: 100%;
}

.fullheight {
    height: 100%;
}