@import './general.scss';

// .columns {
//     // display: flex;
//     // flex-direction: row;
//     // align-items: stretch;
// }

.profile {
    background-color: $light-purple;
    height: 20%;
    padding: 20px;
    min-width: 150px;
    min-height: 200px;
}

.side-bar {
    background-color: $light-orange;
    height: 80%;
    padding: 20px;
    min-width: 150px;
}

.main-content {
    background-color: $light-green;
    height: 100%;
    padding: 20px;
}