@import './general.scss';

.left-column {
    min-width: 210px;
    max-width: 210px;
}

.profile {
    background-color: $light-purple;
    height: 20%;
    padding: 20px;
    //min-width: 210px;
    min-height: 220px;
}


.profile-username {
    font-size: 3rem;
}

.side-bar {
    background-color: $light-orange;
    height: 80%;
    padding: 20px;
    //min-width: 210px
}

.main-content {
    background-color: $light-green;
    height: 100%;
    padding: 20px;
}

.rooms {
    height: 100%;
    padding: 20px;
	overflow-y: auto;
}

.room-description{
    color: $darkest-green; 
}

.room-image{
    height: 64px;
    width: 64px;
}

@media only screen and (max-width: 768px) {
    .left-column{
        min-width: 6rem;
        max-width: 6rem;
    }

    .profile-username {
        font-size: 1.5rem;
    }

    .profile {
        background-color: $light-purple;
        height: 15%;
        padding: 20px;
        //min-width: 210px;
        min-height: 10rem;
    }
    .room-image{
        height: 32px;
        width: 32px;
    }
}